 @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); 
body {
    background-color: antiquewhite;
}
:root{
    font-size: 10px;
--colour1:blue;
--colour2:black;
--colour3:red;
--colour4:white;


}
*{
margin: 0;
padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 6.5rem;
    background-color:var(--colour2);
    color:var(--colour4);
    cursor: pointer;

}
    nav ul li{
        padding: 0 1.2rem;
    }


.brand img{
    width: 4.4rem;
    padding: 0 0.8rem;


}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    bottom: 0;
    
}
.container{
    height: 70vh;
    background-color:var(--colour2);
    color:var(--colour4);
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 1.3rem auto;
    width: 60%;
    padding: 1rem;
    background: url(music.jpg);
    background-size:cover;
}
.bottom{
    position: sticky;
    height: 13rem;
    background-color: var(--colour2);
    color: var(--colour4);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;


}
.icons{
    margin: 1.4rem;
}
.icons i{
    margin: 1rem;
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    margin-top: 1rem;
    cursor: pointer;
}

.songItem{
height: 3rem;
display: flex;
align-items: center;
margin: 1rem;
background-color: rgb(13 13 84);
color: var(--colour4);
border-radius: 1rem;
padding: 0.5rem;
font-size: 1.5rem;
justify-content: space-between;
cursor: pointer;
}
.songItem img{
    width: 3rem;
    border-radius: 1rem;
    

}

.songItem span{
    margin: 0.5rem;
}
span:nth-child(2){
    width: 80%;
}
.songItemContainer{
    padding-top: 1rem;
}
.gifInfo img{
    width: 5rem;
    margin-right: 2rem;
    opacity: 0;
    transition: 0.5s ease-in;
}
.gifInfo{
    display: flex;
    align-items: center;
    position: absolute;
    left: 10vw;
    top: 7vh;
    font-size: 1.6rem;
}

.gitInfo span{
font-family: "Varela Round", sans-serif;
}

@media only screen and (max-width:500px) {
	:root{
		font-size: 12px;
		
	}

	img[alt="gif"]{
	width: 4rem;
	margin-right:0rem ;
}
.container{
    height: 58rem;
}
.container{
    height: 58rem;
}
}
    
